node_modules
dist
infrastructure/kubernetes/config/secrets.yaml
infrastructure/kubernetes/config/prometheus-auth-secret.yaml
infrastructure/kubernetes/config/github-actions-secret.yaml
infrastructure/kubernetes/config/dockerconfigjson.yaml
DEPLOYMENT.md