apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  namespace: cadrart
  labels:
    component: elasticsearch
spec:
  type: NodePort
  selector:
    component: elasticsearch
  ports:
    - port: 9200
      targetPort: 9200
